# Dependencies
**/node_modules/
**/.venv/

# Build outputs
**/bin/
**/obj/
**/dist/
**/.vite/

# Local environment
**/.env
**/.env.local

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test
**/TestResults/
**/coverage/
